/*　画像のドラッグ禁止　*/
img {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    pointer-events: none;
}

.navbar {
    border-bottom: 3px solid #ccc; /* 線のスタイルを設定 */
}


/* ウィンドウの幅が一定以上小さくなったら、アイコンの横の文字を小さくする */
@media (max-width: 768px) {
    #sidebar li span .sidemenu {
      display: none; /* テキストを非表示にする */
    }
  
    #sidebar li span img {
      margin-right: 0; /* アイコンの右側の余白を削除 */
    }

    #sidebar li{
      justify-content: center;
    }

    #sidebar a:hover {
        background-color: #e4efff;
        border-radius: 30px;
    }
}

@media (min-width: 769px) {
    #sidebar li:hover {
        background-color: #e4efff;
        border-radius: 40px;
    }
}


/* サイドバーが左端に配置されるように */
#wrapper {
    display: flex;
    justify-content: flex-start;
}

#sidebar #menu{
    margin-left: 15px;
}

#sidebar {
    flex: 0 1 10%;
    margin-left: 5%;
    margin-top: 20px;
    top: 0;
    height: 400px;
    position: sticky;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

/* リンクの下線を消す */
#sidebar li a{
    display: block; 
    text-decoration: none;
    color: rgb(52, 63, 118);
}

/* 垂直方向の間隔 */
#sidebar li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

/* カーソルをサイドバーに乗せた時に影の両端を丸くする */
#sidebar li span {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 30px;
    transition: background-color 0.3s;
    white-space: nowrap; /* テキストを折り返さないようにする */
}


/* アイコンとテキストの間隔を拡大 */
#sidebar li img {
    margin-right: 30px;
}


/* テキストを太くする */
.bold {
    font-weight: 900;
}

.sidemenu{
    font-size: 19px;
}

body{
    /* 方眼紙模様に必須のスタイル */
    background-image: linear-gradient(0deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px)),
    linear-gradient(90deg, transparent calc(100% - 1px), #f0f0f0 calc(100% - 1px));
    background-size: 16px 16px;
    background-repeat: repeat;
    background-position: center center;
    /* 以下任意のスタイル */
    padding: 20px;
}

#main {
    margin-left: 7%;
    margin-top: 20px;
    flex: 1 1 60%;
    display: block;
}

footer {
    bottom: 0; /*下に固定*/
    padding: 10px; /* 必要に応じて適切なパディングを指定 */
    width: 100%; /* 幅を100%に設定 */
    text-align: center;
}

textarea {
    resize: none;
    border:2px dashed #54a1ff;
    padding: 13px;
    border-radius: 5px;
    background-color: transparent;
    box-sizing: border-box;
    outline: 0;
}

textarea:focus{
    border:2px solid #003474;
}

.textarea_scroll{
    overflow-y: hidden;
}

.radio_textarea1, .radio_textarea2{
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 40px;
    margin-bottom: 10px;
}


.checkmark {
    color: #00c925;
    margin-left: 20px;
    margin-right: 5px;
    font-size: 30px;
    display: none; /* 最初は非表示 */
    animation: fadeInRotate 0.5s forwards; /* アニメーションを追加 */
}

.xmark{
    color: #ff0000;
    margin-left: 20px;
    margin-right: 5px;
    font-size: 30px;
    display: none; /* 最初は非表示 */
    animation: fadeInRotate 0.5s forwards; /* アニメーションを追加 */
}

/* 時計回りの回転による出現 */
@keyframes fadeInRotate {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg); /* 最終的に360度回転 */
    }
}

/* 反時計回りの回転による出現 */
@keyframes fadeOutRotate {
    0% {
        opacity: 1;
        transform: rotate(360deg);
    }
    100% {
        opacity: 0;
        transform: rotate(0deg);
    }
}

#createBib {
    padding-top: 40px;
    padding-bottom: 100px;
}

.allocation{
    display: inline-block;
    width: 100px; /* ラベルの幅を調整 */
    text-align: right; /* ラベルを右寄せにする */
    margin-right: 10px; /* ラベルと入力フィールドの間の間隔を調整 */
    font-weight: bold;
}

.heading + i{
    color:mediumblue;
    margin-right: 20px;
    cursor: pointer;
}

.allocation + i{
    color:mediumblue;
    margin-right: 20px;
    cursor: pointer;
}


#bibCreateButton{
    margin-left: 125px;
    margin-right: 100px;
}


#bibCreateArea {
    padding-top: 50px;
}
  
.bib_input {
    font-weight:350;
    font-size: 18px;
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.2s;
    border:2px dashed #54a1ff;
    padding: 13px;
    box-sizing: border-box;
    outline: 0;
}

.bib_input:focus{
    border:2px solid #003474;
}

.inputfield{
    margin-bottom: 25px;
    white-space: nowrap;
    display: flex;
    align-items: center; /* 要素を中央に揃える */
}

#button_top {
    /* ①ボタンの色と文字の色とサイズ */
    background-color: rgb(0, 174, 255);
    filter:drop-shadow(5px 5px 5px #8cb5cf);
    color: white;
    font-size: 16px;

    cursor: pointer;

    /* ②ボタンのサイズと角丸 */
    width: 80px;
    height: 80px;
    border-radius: 50%;

    /* ③次に作る上向きの三角と、TOPの文字の位置を揃えるためのcss */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 20px;

    /* ⑧色が変化する時間 */
    transition: 0.2s;

    opacity: 0;
    visibility: hidden;
}

#button_top::before {
    /* ④絶対必要 */
    content: "";
    display: block;

    /* ⑤三角のサイズ */
    width: 10px;
    height: 10px;

    /* ⑥三角の線と回転角度 */
    border-top: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(-45deg);
}

/* ⑨マウスをかざした時に変化する色の指定 */
#button_top:hover::before {
    border-top: 2px solid rgb(0, 174, 255);
    border-right: 2px solid rgb(0, 174, 255);
} 

/* ⑦マウスをかざした時に変化する色の指定 */
#button_top:hover {
    background-color: white;
    color: rgb(0, 174, 255);
}

#Create_Button{
    margin-top: 40px;
    display: flex;
    align-items: center;
}

#deleteRed{
    margin-top: 20px;
    margin-bottom: 20px;
}

#deleteButton{
    margin-left: 806px;
}